<script type="module" src="measuring.js"></script>
<script type="module" src="live.js"></script>

<h2>Live Image</h2>
<perp-finishcam-live>
    <img id="live-image">
</perp-finishcam-live>

<h2>Last Image</h2>
<img src="{{last_image_url}}">