<script type="module" src="{{url_for('serve_js_file', path='measuring/index.js')}}"></script>

<a href="{{url_for('session', session_name=session_name)}}">To current session</a>

<h2>Existing Sessions</h2>
<perp-fc-browser href="/data" style="--perp-fc-padding-top: 5rem;" start-time="{{start_time}}">
    <label slot="metadata">Metadata: <input></label>
    <label>8<input></label>
    <label>7<input></label>
    <label>6<input></label>
    <label>5<input></label>
    <label>4<input></label>
    <label>3<input></label>
    <label>2<input></label>
    <label>1<input></label>
</perp-fc-browser>

